body {
    font-family: 'Balsamiq Sans', cursive;
    /*font-family: 'Chakra Petch', sans-serif;*/
    background-image: url('https://i.pinimg.com/originals/fa/a2/a4/faa2a4a8f25471ccb5e9527eb5c09564.jpg');
    background-size: cover;
    /*cubrir todo el espacio con la imagen*/
    background-repeat: no-repeat;
    /*fondo no se repita*/
    background-attachment: fixed;
    /*imagen de nubes quede fija*/
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}
p{
    margin-bottom: 1.6em;
}
.container{
width: 85%;
max-width: 1800px;
margin: 0 auto;
}

.header{
    background-color: #f32020cb;
    color: #dfb11a;
    font-size: 1em;
    padding: 1em 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}
.header a{
    color: #dfb11a;
    text-decoration: none;
    

}
.logo-nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.logoImg{
    width:15em;
    height: auto;
}
.menu-icon{
    display:none;
}
.navigation ul{
    margin-top:0;
    margin-bottom:0;
    margin-left: 8em;
    margin-right: 2em;
    padding:0;
    list-style:none;
}
    .navigation ul li{
        display:inline-block;
    }

    .navigation ul li a{
        display:block;
        padding: 0.5rem 1rem;
        transition:all 0.4s linear;
    }
        .navigation ul li a:hover{
            background-color: #e00d0d;
            border-radius: 10px;
            color: #f0c73f;
        }
    .navigation ul li div{
        display:block;
        padding: 0.5rem 1rem;
        transition:all 0.4s linear;
    }
        .navigation ul li div:hover{
        background-color: #e00d0d;
        border-radius: 10px;
        color: #f0c73f;
    }


/*Contenedor de todos los div pokemon*/
main{
    margin-top:10em ;
}
#containerPokemon {
    left: 0;
    right: 0;
    /*margin-top: 21em;*/
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    background-color: #40e9a3;
}

.pokeDiv {
    background-color: #dfb11a;
    display: inline-block;
    text-align: center;
    color: #1748A7;
    flex-wrap: wrap;
    width: 16%;
    height: 10%;
}

.pokeInfo{
    background-color: beige;
}


/*imágenes de pokémon en pantalla*/

.pokeImg {
    display: block;
    align-items: center;
    padding: 1em 1em 0em 1em;
    transition: 0.5s ease-in-out;
    margin-left: 3em;
    margin-right: 0;
    width: 60%;
    right: 60%;
}

.pokeImg:hover {
    filter: drop-shadow 0 0.5em 0.8em -0.2em #c5d86d;
    filter: drop-shadow(0 1em .4em #2a2af1);
}
.footer{
    background-color: #f32020cb;
    color:#f0c73f;
    padding: 1em 0;
    text-align: center;
}
@media only screen and(max-width:767px){
    .menu-icon{
        display:block;
        cursor:pointer;
        padding:0.5rem 1rem;
    }
 /*   
.logoImg{
    width:6em;
    height: auto;
}*/

.navigation{
    width:100%;
}
 
.navigation ul{
display: none;
}
.navigation ul.show{
    display:none;
}
    .navigation ul li{
        display:block;
    }
/*
    .navigation ul li a{
        display:block;
        padding: 0.5rem 1rem;
        transition:all 0.4s linear;
    }*/
        .navigation ul li a:hover{
            background-color: #e00d0d;
            border-radius: 10px;
            color: #f0c73f;
        }
    .navigation ul li div{
        display:block;
        padding: 0.5rem 1rem;
        transition:all 0.4s linear;
    }
        .navigation ul li div:hover{
        background-color: #e00d0d;
        border-radius: 10px;
        color: #f0c73f;
    }
}